@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 14% 92%;
    --foreground: 240 6% 10%;
    --card: 240 14% 98%;
    --card-foreground: 240 6% 10%;
    --popover: 240 14% 98%;
    --popover-foreground: 240 6% 10%;
    --primary: 238 51% 37%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 10% 88%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 10% 88%;
    --muted-foreground: 240 5% 45%;
    --accent: 281 44% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 85%;
    --input: 240 10% 89%;
    --ring: 238 51% 37%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 4% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 240 4% 13%;
    --popover-foreground: 0 0% 98%;
    --primary: 238 51% 67%;
    --primary-foreground: 238 51% 10%;
    --secondary: 240 4% 18%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 18%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 281 44% 70%;
    --accent-foreground: 281 44% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 18%;
    --input: 240 4% 18%;
    --ring: 238 51% 67%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
